<form class="max-w-max m-0" action="{{ route }}" method="GET" hx-boost="true">
  <input id="month" name="month" type="month" value="{{ year }}-{{ month }}" class="input input-sm max-w-max mb-2">

  <button type="submit" class="btn btn-sm">IR</button>
</form>
