@layout('layouts/main')
@set('title', 'About')

@section('body')
  <div class="max-w-lg mx-auto py-8">
    <h1 class="mb-8 text-3xl font-bold text-gray-800md:text-4xl">About Adonis Boilerplate</h1>
    <a
      href="/"
      hx-boost="true"
      class="cursor-pointer px-6 py-2 text-sm font-medium leading-5 text-center text-white capitalize bg-blue-600 rounded-lg hover:bg-blue-500 md:mx-0 md:w-auto focus:outline-none"
    >
      Home
    </a>
  </div>
@end
