<div class="-mt-32 px-4 lg:px-0 flex gap-4 max-w-screen-lg mx-auto justify-between overflow-x-auto pb-4 scrollbar">
  @!cards.total({ type: 'income', value: totalIncome })

  @!cards.total({ type: 'outcome', value: totalOutcome })

  @!cards.total({ type: 'total', value: auth.user.total })
</div>
