<div class="grid grid-cols-3 gap-4 md:grid-cols-4">
  @each(category in await loadCategories())
    @!form.radio.category({ id: category.id, label: category.name, icon: category.icon })
  @endeach
</div>
