<div class="relative text-white p-8 py-6 text-center">
  <h2 class="text-2xl font-medium">{{ t('messages.emptyState.heading') }}</h2>

  <p class="text-sm">
    {{ t('messages.emptyState.subtitle') }}
  </p>

  <a
    href="{{ route('/register') }}"
    class="btn mt-12"
  >
  {{ t('messages.emptyState.callToAction') }}
  </a>
</div>
