<div class="relative text-white p-8 py-6 text-center">
  <h2 class="text-2xl font-medium">Sem transações</h2>

  <p class="text-sm">
    Suas transações aparecerão aqui
  </p>

  <a
    href="{{ route('/cadastrar') }}"
    class="btn mt-12"
  >
    Criar transação
  </a>
</div>
