@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #F0F2F5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-orange-400
  }
}
