<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @!section('body')
</body>
</html>
