@layout('layouts/main')
@set('title', 'Dashboard | Plutus')

@section('body')
  <div class="pb-[58px]">
    @include('partials/header')

    @include('partials/digest')

    @include('partials/listTransactions')
  </div>

  @!nav({ activeHref: '/dashboard' })
@end
